extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Oh noes!


block content
	div.row
		div.col-lg-6
			h2 Interner Serverfehler

			p.
				Irgendwas ist gewaltig schief gelaufen. 

			p.
				Versuch es am Besten in ein paar Minuten
				noch einmal. Falls es dann nicht klappt
				w&auml;re es toll, wenn du uns eine kurze
				Nachricht senden k&ouml;nntest.

			p &nbsp;

			p.text-center
				a.btn.btn-default.btn-lg(href="/feedback").
					<img src="/img/waben/rot.png" style="height:30px;margin-right:10px;" />
					Zum Kontaktformular



		div.col-lg-6
			h2 Das ist der St&ouml;renfried:
			
			div.alert.alert-danger(style="font-size:22px;word-wrap:break-word;") http://findsgut.de#{missingurl}

	div.row
		p &nbsp;

	div.row
		div.col-lg-12
			p.text-center
				img(src="/img/bienchen.png",width=300)
