extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Nutzungsbedingungen und Nutzungsrechte

block content
	.row-fluid
		h1.
			&nbsp;

		p.
			1) Mit dem Einstellen von Inhalten räumen Sie findsgut.de an diesen 
			Inhalten zeitlich und räumlich unbeschränktes, nicht exklusives Recht ein, 
			die Inhalte zu nutzen.

		p.
			2) findsgut.de braucht Ihnen für die Einräumung der vorstehenden 
			Nutzungsrechte kein Honorar zu zahlen.

		p.
			3) Sie versichern, über sämtliche Rechte an dem von Ihnen übertragenen Inhalten 
			zu verfügen, insbesondere berechtigt zu sein, die vorstehend aufgeführten Rechte 
			an findsgut.de übertragen zu können. 

		p.
			4) Ein Anspruch auf Veröffentlichung der von Ihnen übertragenen Inhalte auf 
			findsgut.de besteht nicht. findsgut.de entscheidet über die 
			Veröffentlichung nach freiem redaktionellem Ermessen. 

		p.
			5) Die Daten/Inhalte, die Sie auf der findsgut.de Website zugänglich machen, 
			können an alle findsgut.de Websites, mobile findsgut.de Anwendungen, 
			sowie an Websites, die findsgut.de Partner sind, weitergegeben werden.

		p.
			6) findsgut.de behält sich das Recht vor, die von Ihnen eingestellten Daten 
			nachträglich frei nutzbar unter einer Creative Commons Lizenz zu veröffentlichen.

		p.
			7) Sollten Dritte wegen der Einstellung von Inhalten durch Sie Ansprüche gegen 
			findsgut.de geltend machen (insbesondere wegen der Verletzung von 
			Persönlichkeits-, Urheber-, Marken- oder Leistungsschutzrechten), sind Sie verpflichtet, 
			findsgut.de sämtlichen Schaden zu ersetzen, der findsgut.de durch eine 
			schuldhafte Pflichtverletzung Ihrerseits entsteht. Der Nachweis, dass kein oder ein 
			geringerer als der von findsgut.de geltend gemachte Schaden eingetreten ist, 
			bleibt Ihnen unbenommen.

		
		p.
			<!--
			Soweit nicht anders gekennzeichnet, werden die
			Inhalte dieser Platform unter der Creative Commons
			Attribution 3.0 Lizenz veröffentlicht. Weitere
			Informationen dazu finden Sie unter:

			a
				http://creativecommons.org/licenses/by/3.0/de/legalcode.

			Nutzer, die eigene Inhalte für die Seiten zur
			Verfügung stellen, erklären sich mit den
			Bedingungen dieser Lizenz auch für die von ihnen
			eingestellten Inhalte einverstanden.
			-->
