extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Nutzungsbedingungen und Nutzungsrechte

block content
	.row-fluid
		h1.
			&nbsp;

		p.
			1) Mit dem Einstellen von Inhalten räumst Du <i>findsgut</i> an diesen 
			Inhalten zeitlich und räumlich unbeschränktes, nicht exklusives Recht ein, 
			die Inhalte zu nutzen.

		p.
			2) <i>findsgut</i> braucht Dir für die Einräumung der vorstehenden 
			Nutzungsrechte kein Honorar zu zahlen.

		p.
			3) Du versicherst, über sämtliche Rechte an dem von Dir übertragenen Inhalten 
			zu verfügen, insbesondere berechtigt zu sein, die vorstehend aufgeführten Rechte 
			an <i>findsgut</i> übertragen zu können. 

		p.
			4) Ein Anspruch auf Veröffentlichung der von Dir übertragenen Inhalte auf 
			<i>findsgut</i> besteht nicht. <i>findsgut</i> entscheidet über die 
			Veröffentlichung nach freiem redaktionellem Ermessen. 

		p.
			5) Die Daten/Inhalte, die Du auf der <i>findsgut</i> Website zugänglich machen, 
			können an alle <i>findsgut</i> Websites, mobile <i>findsgut</i> Anwendungen, 
			sowie an Websites, die <i>findsgut</i> Partner sind, weitergegeben werden.

		p.
			6) <i>findsgut</i> behält sich das Recht vor, die von Dir eingestellten Daten 
			nachträglich frei nutzbar unter einer Creative Commons Lizenz zu veröffentlichen.

		p.
			7) Sollten Dritte wegen der Einstellung von Inhalten durch Dich Ansprüche gegen 
			<i>findsgut</i> geltend machen (insbesondere wegen der Verletzung von 
			Persönlichkeits-, Urheber-, Marken- oder Leistungsschutzrechten), bist Du verpflichtet, 
			<i>findsgut</i> sämtlichen Schaden zu ersetzen, der <i>findsgut</i> durch eine 
			schuldhafte Pflichtverletzung deinerseits entsteht. Der Nachweis, dass kein oder ein 
			geringerer als der von <i>findsgut</i> geltend gemachte Schaden eingetreten ist, 
			bleibt Dir unbenommen.

		
		p.
			<!--
			Soweit nicht anders gekennzeichnet, werden die
			Inhalte dieser Platform unter der Creative Commons
			Attribution 3.0 Lizenz veröffentlicht. Weitere
			Informationen dazu findest Du unter:

			a
				http://creativecommons.org/licenses/by/3.0/de/legalcode.

			Nutzer, die eigene Inhalte für die Seiten zur
			Verfügung stellen, erklären sich mit den
			Bedingungen dieser Lizenz auch für die von Dir
			eingestellten Inhalte einverstanden.
			-->
