extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Anregungen

block content

	div.row
		div.col-lg-4.col-lg-offset-0
			h4
				a.btn.btn-default.btn-lg(href="#anregungen",style="width:90%").
					<img src="/img/waben/gelb.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
					Deine Anregungen

		div.col-lg-6
			p.
				Hier ist ein offener Raum für Ideen, Fragen,
				Anregungen, Rückmeldungen und zum Austausch.
				So können wir gemeinsam das Projekt weiter
				entwickeln und deine Wünsche mit einfließen lassen.

	div.row
		div.col-lg-4.col-lg-offset-0
			h4
				a.btn.btn-default.btn-lg(href="#unterstuetzung",style="width:90%").
					<img src="/img/waben/rot.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
					Deine Unterst&uuml;tzung


		div.col-lg-6
			p.
				Du findest <i>findsgut</i> echt gut und möchtest das Projekt
				unterstützen? Hier findest du verschiedene Möglichkeiten.

	div.row
		div.col-lg-4.col-lg-offset-0
			h4
				a.btn.btn-default.btn-lg(href="#anregungen",style="width:90%").
					<img src="/img/waben/blau.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
					Deine pers&ouml;nlichen Fragen


		div.col-lg-6
			p.
				Hier kannst du uns eine persönliche Mitteilung schreiben,
				die wir gerne baldmöglichst beantworten.

	div.row &nbsp;<br/> &nbsp;<br/> 
	hr
	div.row &nbsp;<br/> &nbsp;<br/>

	div.row
		div.col-lg-12
			h2#unterstuetzung
				//<img src="/img/waben/rot.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
				|Deine Unterst&uuml;tzung

	div.row
		div.col-lg-4
			h4.
				Mache neue Einträge!

			p.
				Jeder Eintrag in das Verzeichnis trägt zum Gelingen des
				Projektes bei.

			p.
				Organisiere z.B. gemütliche Eintrags-Sessions.

		div.col-lg-4
			h4.
				Spende ein paar Cent!

			p.
				Für die Verbreitung der <i>findsgut</i>-Idee können wir
				finanzielle Unterstützung gebrauchen. 

			p.
				Spende z.B. über unseren Flattr-Account!


		div.col-lg-4
			h4.
				Erzähle allen von <i>findsgut</i>!

			p.
				Teile deine Begeisterung mit deinen Freunden und
				Bekannten.

			p.
				In sozialen Netzwerken findest du uns
				bisher nicht, du kannst uns aber gerne bei
				Twitter folgen.


	div.row(style="margin-top:12px")
		div.col-lg-4
			p.text-center
				a.btn.btn-default.btn-md(href="/eintraege/neu").
					<img src="/img/waben/rot.png" style="height:20px;margin-right:20px;" />
					Neuer Eintrag
		div.col-lg-4
			div.text-center(style="padding-top:12px")
				<script id='fbhxun5'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=findsgut&button=compact&url=http%3A%2F%2Ffindsgut.de';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbhxun5');</script>
				<noscript> <a href="https://flattr.com/thing/eac6c5bf8cedb795d28aaae860216f27" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a> </noscript>

		div.col-lg-4
			p.text-center(style="padding-top:6px")
				a(href="https://twitter.com/findsgut")
					img(src="/img/logos/twitter.png",title="findsgut bei Twitter")

	div.row(style="margin-top:12px").hidden
		div.col-lg-4
			h4.
				Entwickle mit!

			p.
				Der Quelltext hinter <em>findsgut</em> ist auf GitHub verf&uuml;gbar.

			p.text-center
				a(href="https://github.com/cmichi/findsgut")
					img(src="/img/logos/github.png",title="Der findsgut Quelltext auf GitHub")

			p &nbsp;
				
		div.col-lg-4
			h4.
				Nutze unsere Daten.

			p.
				Am Liebsten indem du unsere Plattform nutzt
				und hier mit weiteren Eintr&auml;gen zu dem
				Projekt beitr&auml;gst.
				Wir wollen weitere m&ouml;gliche Verwendungen 
				aber nicht ausschlie&szlig;en und werden
				unsere Datenbank deswegen in K&uuml;rze frei zur
				Verf&uuml;gung stellen.

			//p.text-center
			//a(href="https://github.com/cmichi/findsgut").
			//Download (Lizenz: ODbL v1.0)

	div.row &nbsp;<br/> &nbsp;<br/> 
	hr
	div.row &nbsp;<br/> &nbsp;<br/>

	div.row
		div.col-lg-12
			h2#anregungen Deine pers&ouml;nlichen Fragen

	div.row
		div.col-lg-12
			- if (success === true) 
				div.alert.alert-success(style="") 
					p.
						Deine Nachricht wurde versendet!

					p.
						Wir werden m&ouml;glichst
						schnell darauf reagieren.
			- else
				p.
					Hier kannst du uns eine persönliche
					Mitteilung schreiben, die wir gerne
					baldmöglichst beantworten.

				p &nbsp;

				form(role="form",method="POST",action="#").form-horizontal.
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" name="inputName" class="form-control" id="inputName" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">E-Mail</label>
						<div class="col-lg-10">
							<input type="email" name="inputEmail" class="form-control" id="inputEmail1" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputMsg" class="col-lg-2 control-label">Deine Nachricht</label>
						<div class="col-lg-10">
							<textarea id="inputMsg" name="inputMsg" class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-default">Absenden</button>
						</div>
					</div>
			- endif

		div.row &nbsp;<br/> &nbsp;<br/> 
