extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Anregungen

block content
	div.row
		&nbsp;

	div.row
		div.col-lg-4.col-lg-offset-0
			h4
				a.btn.btn-scroll.btn-default.btn-lg(href="#nachricht",style="width:90%").
					<img src="/img/waben/gelb.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
					Deine Anregungen

		div.col-lg-6
			p(style="padding-top:10px").
				Hier ist ein offener Raum für Ideen, Fragen,
				Anregungen, Rückmeldungen und zum Austausch.
				So können wir gemeinsam das Projekt weiter
				entwickeln und deine Wünsche mit einfließen lassen.

	div.row(style="margin-bottom:10px")
		div.col-lg-4.col-lg-offset-0
			h4
				a.btn.btn-scroll.btn-default.btn-lg(href="#unterstuetzung",style="width:90%").
					<img src="/img/waben/rot.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
					Deine Unterst&uuml;tzung


		div.col-lg-6
			p(style="padding-top:10px").
				Du findest <i>findsgut</i> echt gut und möchtest das Projekt
				unterstützen? Hier findest du verschiedene Möglichkeiten.

	div.row
		div.col-lg-4.col-lg-offset-0
			h4
				a.btn.btn-scroll.btn-default.btn-lg(href="#fragen",style="width:90%").
					<img src="/img/waben/blau.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
					Deine pers&ouml;nlichen Fragen


		div.col-lg-6
			p(style="padding-top:10px").
				Hier kannst du uns eine persönliche Mitteilung schreiben,
				die wir gerne baldmöglichst beantworten.

	div.row &nbsp;<br/> &nbsp;<br/> 
	hr
	div.row &nbsp;<br/> &nbsp;<br/>

	div.row
		div.col-lg-12
			h2#anregungen Anregungen

	- if (success_anregung === true) {
		div.row
			div.col-lg-12
				div.alert.alert-warning(style="height:auto")
					img(src="/img/biene.png",align="left",width="100",style="margin:0px 20px 10px 0px;")
					h4 Dankesch&ouml;n! 

					p.
						&hellip;dass du mit Anregungen oder Feedback zu diesem Projekt
						beitr&auml;gst.

	- }

	div.row
		div.col-lg-12
			- if (msgs.length > 0) {
				table.table.table-striped
					thead
						tr 
							th Wer?
							th Sagt was?
					tbody
						- for (var msg in msgs) 
							tr
								td #{msgs[msg].value.name}
								td 
									- for (var m in msgs[msg].value.msg) {
										p.
											#{msgs[msg].value.msg[m]}
									- }
			- } else {
				p.
					&nbsp;Noch keine Anregungen vorhanden.
			- }

	div.row
		div.col-lg-12
			|&nbsp;<br/>
			h4#nachricht Eine Nachricht absenden?
			form(role="form",method="POST",action="/feedback/msg").form-horizontal.
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-2 control-label">Name</label>
					<div class="col-lg-10">
						<input type="text" name="inputName" class="form-control" id="inputName" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputEmail1" class="col-lg-2 control-label">E-Mail</label>
					<div class="col-lg-10">
						<input type="email" name="inputEmail" class="form-control" id="inputEmail1" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label for="inputMsg" class="col-lg-2 control-label">Deine Nachricht</label>
					<div class="col-lg-10">
						<textarea id="inputMsg" name="inputMsg" class="form-control" rows="3"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-default">Absenden</button>
					</div>
				</div>

	div.row &nbsp;<br/> &nbsp;<br/> 
	hr
	div.row &nbsp;<br/> &nbsp;<br/>

	div.row
		div.col-lg-12
			h2#unterstuetzung
				//<img src="/img/waben/rot.png" style="height:22px;margin-right:10px;margin-top:4px;float:left;" />
				|Deine Unterst&uuml;tzung

	div.row
		div.col-lg-4
			h4.
				Mache neue Einträge!

			p.
				Jeder Eintrag in das Verzeichnis trägt zum Gelingen des
				Projektes bei.

			p.
				Organisiere z.B. gemütliche Eintrags-Sessions.

		div.col-lg-4
			h4.
				Spende ein paar Cent!

			p.
				Für die Verbreitung der <i>findsgut</i>-Idee können wir
				finanzielle Unterstützung gebrauchen. 

			p.
				Spende z.B. über unseren Flattr-Account!


		div.col-lg-4
			h4.
				Erzähle allen von <i>findsgut</i>!

			p.
				Teile deine Begeisterung mit deinen Freunden und
				Bekannten.

			p.
				In sozialen Netzwerken findest du uns
				bisher nicht, du kannst uns aber gerne bei
				Twitter folgen.


	div.row(style="margin-top:12px")
		div.col-lg-4
			p.text-center
				a.btn.btn-default.btn-md(href="/eintraege/neu").
					<img src="/img/waben/rot.png" style="height:20px;margin-right:20px;" />
					Neuer Eintrag
		div.col-lg-4
			div.text-center(style="padding-top:12px")
				<script id='fbhxun5'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=findsgut&button=compact&url=http%3A%2F%2Ffindsgut.de';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbhxun5');</script>
				<noscript> <a href="https://flattr.com/thing/eac6c5bf8cedb795d28aaae860216f27" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a> </noscript>

		div.col-lg-4
			p.text-center(style="padding-top:6px")
				|<a href="https://twitter.com/findsgut" class="twitter-follow-button" data-show-count="false" data-lang="de" data-size="large">@findsgut folgen</a>
				|<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

	div.row(style="margin-top:12px").hidden
		div.col-lg-4
			h4.
				Entwickle mit!

			p.
				Der Quelltext hinter <em>findsgut</em> ist auf GitHub verf&uuml;gbar.

			p.text-center
				a(href="https://github.com/cmichi/findsgut")
					img(src="/img/logos/github.png",title="Der findsgut Quelltext auf GitHub")

			p &nbsp;
				
		div.col-lg-4
			h4.
				Nutze unsere Daten.

			p.
				Am Liebsten indem du unsere Plattform nutzt
				und hier mit weiteren Eintr&auml;gen zu dem
				Projekt beitr&auml;gst.
				Wir wollen weitere m&ouml;gliche Verwendungen 
				aber nicht ausschlie&szlig;en und werden
				unsere Datenbank deswegen in K&uuml;rze frei zur
				Verf&uuml;gung stellen.

			//p.text-center
			//a(href="https://github.com/cmichi/findsgut").
			//Download (Lizenz: ODbL v1.0)

	div.row &nbsp;<br/> &nbsp;<br/> 
	hr
	div.row &nbsp;<br/> &nbsp;<br/>

	div.row
		div.col-lg-12
			h2#fragen Deine pers&ouml;nlichen Fragen

	div.row
		div.col-lg-12
			- if (success === true) 
				div.alert.alert-success(style="") 
					p.
						Deine Nachricht wurde versendet!

					p.
						Wir werden m&ouml;glichst
						schnell darauf reagieren.
			- else
				p.
					Hier kannst du uns eine persönliche
					Mitteilung schreiben, die wir gerne
					baldmöglichst beantworten.

				p &nbsp;

				form(role="form",method="POST",action="#anregungen").form-horizontal.
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" name="inputName" class="form-control" id="inputName" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail1" class="col-lg-2 control-label">E-Mail</label>
						<div class="col-lg-10">
							<input type="email" name="inputEmail" class="form-control" id="inputEmail1" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inputMsg" class="col-lg-2 control-label">Deine Nachricht</label>
						<div class="col-lg-10">
							<textarea id="inputMsg" name="inputMsg" class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-default">Absenden</button>
						</div>
					</div>
			- endif

		div.row &nbsp;<br/> &nbsp;<br/> 

block scripts
	script(type='text/javascript').
		function scrollToAnchor(aid){
			var aTag = $("h2[id='"+ aid +"']");
			$('html,body').animate({scrollTop: aTag.offset().top},'slow');
		}

		$(function() {
			//console.log('k');
			$('.btn-scroll').each(function(el) {
				//console.log('a');
				//console.log( $(this).attr("href") );

				$(this).click(function(event) {
					event.preventDefault();
					scrollToAnchor( $(this).attr("href").replace("#","") );
				});
			});
		});
