script(type="text/javascript").
	/* <![CDATA[ */
	(function() {
	var s = document.createElement('script'), t =
	document.getElementsByTagName('script')[0];
	s.type = 'text/javascript';
	s.async = true;
	s.src = 'https://api.flattr.com/js/0.6/load.js?mode=auto&https=1';
	t.parentNode.insertBefore(s, t);
	})();
	/* ]]> */
