extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Idee

block content
	div.row
		div.col-lg-12
			h2 Ziel &amp; Motivation

	div.row
		div.col-lg-12
			p.
				<strong>Mit <em>findsgut</em> verantwortungsvollen Konsum vereinfachen.</strong>
			p.
				Wir alle brauchen Lebensmittel, Kleidung, Alltagsgegenstände wie Papier  und Stift. Auch auf  Dienstleistungen  wie
				ein  Bankkonto  oder Versicherungen wollen die meisten nicht verzichten. Was vielen nicht bewusst ist:  Mit der Wahl
				eines Produktes oder einer Dienstleistung entscheiden wir uns auch für seine Herkunft  und  Entstehungsgeschichte.
				Wo  kommen  die  Produkte her?  Werden  die  ArbeiterInnen   gerecht   bezahlt?   Werden umweltfreundliche Standards
				eingehalten? Welche Werte stehen hinter dem Unternehmen?
			p.
				Immer  mehr  Menschen,  wollen   bewusst   verantwortungsvoll konsumieren.  Umweltschutz, soziale Gerechtigkeit und
				Qualität aus der Region sind  ihnen beim  Einkauf  wichtig.  Das  Angebot  verantwortungsvoller   Produkte und
				Dienstleistungen wächst kontinuierlich, insgesamt ist  es  aber immer  noch sehr klein. Die Suche nach diesem Wenigen
				gestaltet sich oft anstrengend.
			p.
				Das Ziel dieser Internetseite  ist,  die  Suche  nach  Anbietern  von fair, ökologisch  sowie  regional  erzeugten,
				verarbeiteten, hergestellten  bzw.  gebrauchten Produkten, sowie an  Nachhaltigkeit  ausgerichteten  Marken und
				Dienstleistungen  zu  erleichtern.  Wir   möchten   ein   breites Publikum ansprechen.   <em>findsgut</em>   soll
				unter   die   Leute   gebracht   und „Das verantwortungsvolle Verzeichnis“ werden!



	div.row
		div.col-lg-12
			h2 Prinzip &amp; Besonderes

	div.row
		div.col-lg-12
			p.
				<strong><em>findsgut</em> ist gemeinschaftlich</strong>: alle  können  neue  Einträge erstellen  bzw.  bestehende
				bearbeiten; sowohl Verantwortung als auch Macht liegen nicht bei wenigen Personen; gemeinsam kann  das  Projekt  mit
				Leben  gefüllt werden, gemeinsam soll die Idee weiterentwickelt werden.
			p.
				<strong><em>findsgut</em>  ist  nicht  kommerziell</strong>:  auf  <em>findsgut</em>  gibt  es  keine Werbung,
				<em>findsgut</em>  ist  unabhängig  von  Sponsoren;  Unkosten  werden  durch Spenden beglichen; <em>findsgut</em>
				lebt von freiwilligem Engagement.
			p.
				<strong><em>findsgut</em> ist einfach</strong>: keine Anmeldung, übersichtliche Struktur  und Design, einfach in der
				Bedienung; keine  ablenkenden  Funktionen  wie Nachtrichten, Artikel, usw.
			p.
				<strong><em>findsgut</em>  ist  transparent</strong>:  der  Quelltext  und  die  Datenbank  sind frei zugänglich.


	div.row
		div.col-lg-12
			h2 Der Anfang

	div.row
		div.col-lg-12
			p.
				<strong><em>findsgut</em> wurde Zeit</strong>
			p.
				Geboren aus einer Idee entwickelt eine bunte Gruppe  von  5-10  Leuten u.a.  aus den Bereichen Informatik, Design  und
				Umweltschutz  seit  Mai  2013 in ihrer Freizeit an der Projektverwirklichung. Seit April  2014  ist <em>findsgut</em>
				online und kann nun von allen mit- und weiterentwickelt werden.

	<br />
	div.row
		div.col-lg-12
			p.
				Die Begründer von <em>findsgut</em>

