extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Idee

block content
	div.row
		div.col-lg-12
			h2 Ziel &amp; Motivation

	div.row
		div.col-lg-12
			blockquote.pull-left
				p.
					Mit <em>findsgut</em> verantwortungsvollen Konsum vereinfachen.
			p.
				Wir alle brauchen Lebensmittel, Kleidung, Alltagsgegenstände wie Papier 
				und Stift. Auch auf Dienstleistungen wie ein Bankkonto oder Versicherungen 
				wollen die meisten nicht verzichten. Was vielen nicht bewusst ist: 
				Mit der Wahl eines Produktes oder einer Dienstleistung entscheiden wir uns 
				auch für seine Herkunft und Entstehungsgeschichte.
				Wo kommen die Produkte her? Werden die ArbeiterInnen gerecht bezahlt?
				Werden umweltfreundliche Standards eingehalten? Welche Werte stehen hinter 
				dem Unternehmen?
			p.
				Immer mehr Menschen wollen bewusst verantwortungsvoll konsumieren. 
				Umweltschutz, soziale Gerechtigkeit und Qualität aus der Region sind ihnen 
				beim Einkauf wichtig. Das Angebot verantwortungsvoller Produkte und 
				Dienstleistungen wächst kontinuierlich, insgesamt ist es aber immer noch 
				sehr klein. Die Suche nach diesem Wenigen gestaltet sich oft anstrengend.
			p.
				Das Ziel dieser Internetseite ist, die Suche nach Anbietern  von fair, 
				ökologisch sowie regional erzeugten, verarbeiteten, hergestellten bzw. 
				gebrauchten Produkten sowie an Nachhaltigkeit ausgerichteten Marken und
				Dienstleistungen zu erleichtern. Wir möchten ein breites Publikum 
				ansprechen. <em>findsgut</em> soll unter die Leute gebracht und 
				„<em>Das verantwortungsvolle Verzeichnis</em>“ werden!

	div.row
		p &nbsp;
		hr

	div.row
		div.col-lg-12
			h2 Prinzip &amp; Besonderes

			p &nbsp;

	div.row
		div.col-lg-2
				p.text-center
					img(src="/img/waben/rot.png",style="height:30px;margin-top:8px;")

				p.text-center
					em gemeinschaftlich
		div.col-lg-4
			p.
				Alle können neue Einträge erstellen bzw. bestehende
				bearbeiten; sowohl Verantwortung als auch Macht liegen nicht bei 
				wenigen Personen; gemeinsam kann das Projekt mit
				Leben gefüllt werden, gemeinsam soll die Idee weiterentwickelt werden.

		div.col-lg-2
				p.text-center
					img(src="/img/waben/gelb.png",style="height:30px;margin-top:8px;")

				p.text-center
					em nicht kommerziell
		div.col-lg-4
			p.
				Auf <em>findsgut</em> gibt es keine Werbung,
				<em>findsgut</em> ist unabhängig von Sponsoren;  
				Unkosten werden durch Spenden beglichen; <em>findsgut</em>
				lebt von freiwilligem Engagement.
	div.row
		div.col-lg-2
				p.text-center
					img(src="/img/waben/gelb.png",style="height:30px;margin-top:8px;")

				p.text-center
					em einfach
		div.col-lg-4
			p.
				Keine Anmeldung, übersichtliche Struktur und Design, einfach in der
				Bedienung; keine ablenkenden Funktionen wie Nachtrichten, Artikel, usw.

		div.col-lg-2
				p.text-center
					img(src="/img/waben/blau.png",style="height:30px;margin-top:8px;")

				p.text-center
					em transparent
		div.col-lg-4
			p
				|Der 
				a(href="https://github.com/cmichi/findsgut") Quelltext 
				|und die 
				a(href="https://github.com/cmichi/findsgut#datenbank") Datenbank 
				|sind frei zugänglich und k&ouml;nnen beliebig 
				|genutzt werden.
			p.
				Am Liebsten w&auml;re es uns wenn du dich
				entscheidest mit Erweiterungen oder neuen
				Datens&auml;tzen zu unserer Plattform beizutragen,
				wir wollen weitere m&ouml;gliche Verwendungen 
				aber nicht ausschlie&szlig;en und haben uns
				deswegen entschlossen die Datenbank und den
				Quelltext frei zur Verf&uuml;gung zu
				stellen.
				

	div.row
		p &nbsp;
		hr

	div.row
		div.col-lg-12
			h2 Der Anfang

	div.row
		div.col-lg-12
			blockquote.pull-left.
				<em>findsgut</em> wurde Zeit
			p.
				Geboren aus einer Idee entwickelt eine bunte Gruppe von 5-10 Leuten u.a.
				aus den Bereichen Informatik, Design und Umweltschutz seit Mai 2013 in 
				ihrer Freizeit an der Projektverwirklichung. Seit April 2014 ist 
				<em>findsgut</em> online und kann nun von allen mit- und weiterentwickelt 
				werden.

			p
				&nbsp;

	div.row
		div.col-lg-4.col-lg-offset-2
			p.text-center
				a.btn.btn-default.btn-lg(href="/feedback").
					<img src="/img/waben/rot.png" style="height:30px;margin-right:10px;" />
					Anregungen einbringen

		div.col-lg-4
			p.text-center
				a.btn.btn-default.btn-lg(href="https://github.com/cmichi/findsgut").
					<img src="/img/logos/github.png" style="height:30px;margin-right:10px;" />
					Der findsgut Quelltext auf GitHub


			p 
				&nbsp;
			p 
				&nbsp;
