
br

p
	address
		p.
			<strong>Max Mustermann</strong><br />
			enzian -at- findsgut.de<br />
			Musterstr. 27<br />
			123456 Muster

p.
	Alle Informationen und Erklärungen dieser Internetseiten sind unverbindlich.
	Die Muster übernimmt für die Richtigkeit und Vollständigkeit der Inhalte keine Gewähr.
	Es werden keine Garantie übernommen und keine Zusicherung von Produkteigenschaften gemacht.
	Aus den Inhalten der Internetseiten ergeben sich keine Rechtsansprüche.
	Fehler im Inhalt werden bei Kenntnis darüber unverzüglich korrigiert.
	Die Inhalte der Internetseiten können durch zeitverzögerte Aktualisierung nicht permanent aktuell sein.
	Bitte fragen Sie uns daherzu dem Stand, technischen Details und Lieferbarkeit der Produkte und Dienstleistungen.
	Links auf andere Internetseiten werden nicht permanent kontrolliert.
	Somit übernehmen wir keine Verantwortung für den Inhalt verlinkter Seiten.

br
h2 Herunterladen von Daten und Software

p.
	Die Muster übernimmt keine Gewähr für die Fehlerfreiheit von Daten und Software,
	die von den Internetseiten heruntergeladen werden können.
	Die Software wird von der Muster auf Virenbefall überprüft.
	Wir empfehlen dennoch, Daten und Software nach dem Herunterladen auf Virenbefall
	mit jeweils neuster Virensuchsoftware zu prüfen.

	h1 Urheberrechte und sonstige Sonderschutzrechte
	Der Inhalt dieser Internetseiten ist urheberrechtlich geschützt.
	Es darf eine Kopie der Informationen der Internetseiten auf einem
	einzigen Computer für den nicht-kommerziellen und persönlichen internen
	Gebrauch gespeichert werden. Grafiken, Texte, Logos, Bilder usw. dürfen nur
	nach schriftlicher Genehmigung durch die Muster heruntergeladen,
	vervielfältigt, kopiert, geändert, veröffentlicht, versendet,
	übertragen oder in sonstiger Form genutzt werden.
	Bei genannten Produkt- und Firmennamen kann es sich um eingetragene Warenzeichen
	oder Marken handeln. Die unberechtigte Verwendung kann zu Schadensersatzansprüchen
	und Unterlassungsansprüchen führen.

br
h2 Schutz persönlicher Daten und Vertraulichkeit

p.
	Es kann nicht garantiert werden, dass Informationen oder persönliche Daten,
	die uns übermittelt werden, bei der übermittlung nicht von Dritten "abgehört" werden.

br
h2 Haftung

p.
	Die Muster haftet nicht für Schäden insbesondere nicht für unmittelbare 
	oder mittelbare Folgeschäden, Datenverlust, entgangenen Gewinn, System- oder Produktionsausfälle,
	die durch die Nutzung dieser Internetseiten oder das Herunterladen von Daten entstehen.
	Liegt bei einem entstandenen Schaden durch die Nutzung der Internetseiten oder das Herunterladen
	von Daten Vorsatz oder grobe Fahrlässigkeit vor, gilt der Haftungsausschluß nicht.
	Die durch die Nutzung der Internetseiten entstandene Rechtsbeziehung zwischen Ihnen
	und der Muster unterliegt dem Recht der Bundesrepublik Deutschland. 
	Bei Rechtsstreitigkeiten mit Vollkaufleuten, die aus der Nutzung dieser 
	Internetseiten resultieren, ist der Gerichtsstand der Sitz der Muster.

br
h2 Erläuterungen zum Datenschutz

p.
	Sie können im Regelfall alle Internetseiten der Muster aufrufen, 
	ohne Angaben über Ihre Person zu machen. Werden im Einzelfall Ihr Name, 
	Ihre Anschrift oder sonstige persönliche Daten benötigt, so werden Sie zuvor 
	darauf hingewiesen. Ihre personenbezogenen Nutzungsdaten werden verwendet, 
	um den Service der Muster für Sie so angenehm wie möglich zu gestalten und zu verbessern.

	Wenn Sie sich entschließen, der Muster persönliche Daten über
	das Internet zu überlassen, damit z.B. Korrespondenz abgewickelt oder 
	eine Bestellung ausgeführt werden kann, so wird mit diesen Daten nach 
	den strengen Regelungen des Bundesdatenschutzgesetzes (BDSG) sorgfältig umgegangen.
	Durch die Aufrufe der Internetseite erhält die Muster Nutzungsdaten,
	die für Sicherungszwecke gespeichert werden und möglicherweise eine Identifizierungzulassen 
	(zum Beispiel IP-Adresse, Datum, Uhrzeit und betrachtete Seiten). 
	Diese Daten werden von der Muster ausgewertet, 
	um das Nutzerverhalten kennen zu lernen und Statistiken aufzustellen. 
	Dabei werden bei allen Maßnahmen die hohen Sicherheitsstandards des Teledienstedatenschutzgesetzes (TDDSG) 
	und der Datenschutzverordnung für Telekommunikationsunternehmen (TDSV) beachtet.
	Es findet keine personenbezogene Verwertung statt.
	Die statistische Auswertung anonymisierter Datensätze bleibt vorbehalten.
	Weitere Informationen zum Thema Datenschutz in der Bundesrepublik Deutschland finden Sie hier: www.bfd.bund.de
	Weitergabe personenbezogener Informationen an Dritte
	Sollten im Rahmen der Auftragsdatenverarbeitung Daten an Dienstleister weitergegeben werden, 
	so sind diese an das BDSG, andere gesetzliche Vorschriften und vertraglich an die 
	Privacy Policy der Muster gebunden. Soweit die Muster 
	gesetzlich oder per Gerichtsbeschluss dazu verpflichtet ist, wird sie Ihre Daten 
	im geforderten Umfang an auskunftsberechtigte Stellen übermitteln.
	Für andere Zwecke gibt die Muster Ihre Daten nicht ohne Ihr ausdrückliches 
	Einverständnis an Dritte weiter.

br
h2 Sicherheit

p.
	Die Muster speichert Ihre Daten auf besonders geschützten Servern in Deutschland. 
	Der Zugriff darauf ist nur wenigen, von der Muster befugten 
	Personen möglich, die mit der technischen, kaufmännischen oder redaktionellen 
	Betreuung dieser Server befasst sind.

br
h2 Recht auf Widerruf

p.
	Wenn Sie die Muster auffordern, Ihre personenbezogenen Daten nicht 
	für die weitere Kontaktaufnahme zu verwenden und/oder zu löschen, 
	so wird entsprechend verfahren. Daten, die für eine Auftragsabwicklung bzw. zu 
	kaufmännischen Zwecken zwingend erforderlich sind, sind von einer Kündigung 
	beziehungsweise von einer Löschung nicht berührt.
	Bitte haben Sie Verständnis dafür, dass im Falle des Widerrufs der personalisierte 
	Service nicht mehr erbracht werden kann, da er auf der Verwendung der Kundendaten aufbaut.

br
h2 Einsatz von Cookies

p.
	In Cookies werden während einer Onlinesitzung Textinformationen gesammelt und 
	in einer speziellen Datei im ASCII-Format (cookie.txt) auf der Festplatte des 
	Benutzers abgelegt. Wohin der Cookie beim Anwender gespeichert wird, kontrolliert 
	der WWW-Browser des Anwenders. Cookies sind Informationen, die bei dem nächsten
	Onlinebesuch an den Server zurückgesandt werden. Sie können jeweils nur von dem Server,
	der sie vorher auch abgelegt hat, gelesen werden.

	Die Muster setzt Cookies nur dann ein, wenn sie für Benutzerfunktionen dringend 
	erforderlich sind bzw. die Navigation der Websites erleichtern. Die Informationen werden 
	keinem Dritten zur Verfügung gestellt, da Cookies nur für die o.g. Zwecke verwendet werden.
	Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. 

	Diese Funktion kann jedoch jederzeit im Browser deaktiviert werden. 
	Sie können Ihren Browser so einstellen, dass er Sie benachrichtigt, sobald Cookies gesendet werden.

br
h2 Links zu anderen Websites

p.
	Die Webseiten der Muster enthalten gegebenenfalls Links zu anderen Websites.
	Die Muster hat keinen Einfluss auf den redaktionellen Inhalt fremder 
	Webseiten und darauf, dass deren Betreiber die Datenschutzbestimmungen einhalten.

br
h2 Werbung

p.
	Die Webseiten der Muster enthalten im Regelfall keine Werbeflächen. 
	Im gegenteiligen Fall erfolgt die Auslieferung der Werbung über externe AdServer. 
	Die im Zusammenhang mit Onlinewerbung erfassten Daten (AdImpressions, AdKlicks) dienen ausschließlich 
	der statistischen Auswertung und zur Erstellung von Reportings an Werbekunden. 
	Dabei werden keine personenbezogenen Daten verwendet.
	Bei der Auslieferung von Werbung können möglicherweise Cookies zum Einsatz kommen, 
	ohne dass die Muster hierauf Einfluss hat.
