extends layout

block content
	div.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.navbar-header.
				<a class="navbar-brand" href="#">
					<!--
					findsgut.de
					-->
					<img src="/img/findsgut-white.png" height="30" />
					<span style="font-weight:normal;font-size:13px;color:#444;position: relative; top: -0.8em;">(beta)</span>
				</a>

			div.navbar-collapse.collapse.
				<ul class="nav navbar-nav" style="margin-top:5px;margin-left:35px;">
					<li class="active">
						<a href="#" style="">
							<!--
							<span style="color:fff;font-size:18px;float:left;margin-right:3px;">&raquo;</span>
							-->
							<span style="text-decoration:underline">Home</span>
						</a>
					</li>
					<li><a href="#contact">Mitmachen</a></li>
					<li><a href="#contact">Anregungen</a></li>
				</ul>

				<div class="pull-right">
					<span class="badge" style="background:#777;margin-top:20px">42</span> Eintr&auml;ge
				</div>

	div.jumbotron
		div.container(style="height:430px;text-align:center;")
			img(src="/img/index.png",style="height:150px;width:474px;margin-top:30px;")

			div(style="width:70%;margin-left:15%;text-align:center;")
			h1(style="font-size:34px;color:#DDD;margin-top:35px;width:70%;margin-left:15%;line-height:40px;").
				findsgut.de ist ein gemeinschaftlich gepflegtes Verzeichnis für
				verantwortungsvolle Produkte und Dienstleistungen. 

			div(style="margin-top:55px;width:80%;margin-left:10%;").
				<div style="float:left">
						<button type="button" class="btn default btn-lg" style="width:220px">
						<img src="/img/wabe.png" style="height:20px;margin-right:10px;" />
						Neuer Eintrag
						</button>
				</div>

				<div style="float:right">
				<form class="bs-example">
				<div class="col-lg-9">
					<input class="form-control input-lg" type="text" placeholder="Kleidung in Ulm" />
				</div>
				<div class="col-lg-2">
						<button type="button" class="btn default btn-lg" style="width:170px">
						<img src="/img/wabe.png" style="height:20px;margin-right:10px;" />
						Suchen
						</button>
					</div>
				</form>
				</div>

	div.jumbotron(style="display:none")
		div.container
			h1.
				Hello, world!
			p.
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			p.
				<a class="btn btn-primary btn-lg">Learn more &raquo;</a>

	div.container
		div.row
			div.col-lg-4
				h2 Das Konzept

				p.
					Ziel dieser Internetseite ist es, die Suche nach fair, ökologisch und regional 
					hergestellten Produkten sowie an Nachhaltigkeit ausgerichteten Marken und 
					Dienstleistungen zu erleichtern. 

				p.
					Die Internetseite ist als Gemeinschaftsprojekt ausgelegt. 
					Jede und jeder ist daher eingeladen mit Einträgen in das Verzeichnis zum Gelingen dieses
					Projektes beizutragen.


			div.col-lg-8
				h2.
					Mit Konsum die Welt verändern 

				div.row
					div.col-lg-6
						p.
							Wir Menschen
							brauchen Lebensmittel, Kleidung,
							Alltagsgegenstände wie Papier und
							Bleistift. Aber auch auf Dienstleistungen
							wie ein Bankkonto oder Versicherungen sind
							wir angewiesen. Die Auswahl ist riesengroß.

						p.
							Mit der Wahl des Produktes oder der
							Dienstleistung entscheiden wir uns für eine
							bestimmte Entstehungsgeschichte. 

					div.col-lg-6
						p.
							Wo kommen
							die Produkte her? Werden die Arbeiter*Innen
							gerecht bezahlt? Wird auf umweltfreundliche
							Standards geachtet? 

						p.
							Mit allem, was wir
							konsumieren, entscheiden wir uns für oder
							gegen Umweltschutz, für oder gegen soziale
							Gerechtigkeit. Für oder gegen ein
							verantwortungsvolles Miteinander.

		div.row
			p.
				&nbsp;

		div.row
			div.col-lg-4
				h2 Wer steckt dahinter?

				p.
					Lorem Ipsum

		hr

		footer.
			<p class="pull-right">
				<a href="/impressum">Impressum</a>
			</p>
