extends layout

block jumbotron
	div.jumbotron
		div.container(style="text-align:center;margin-top:25px;margin-bottom:25px;")
			img(src="/img/index.png",style="height:150px;width:474px;",alt="findsgut",title="findsgut: Verantwortungsvolle Produkte und Dienstleistungen")

			div(style="width:70%;margin-left:15%;text-align:center;")
			p(style="color:#DDD;margin-top:35px;width:70%;margin-left:15%;").foo.
				findsgut ist ein gemeinschaftlich gepflegtes Verzeichnis für
				verantwortungsvolle Produkte und Dienstleistungen. 

			div(style="margin-top:55px;width:80%;margin-left:10%;").
				<div style="float:left">
						<a class="btn btn-default btn-lg" href="/eintraege/neu">
							<img src="/img/wabe.png" style="height:20px;margin-right:10px;" />
							Neuer Eintrag
						</a>
				</div>

				<div style="float:right">
					<form class="bs-example" method="GET" action="/suche/">
						<div class="col-lg-9">
							<input class="form-control input-lg" type="text" name="term" placeholder="Kleidung in Ulm" />
						</div>
						<div class="col-lg-2">
						<button type="submit" class="btn btn-default btn-lg">
							<img src="/img/wabe.png" style="height:20px;margin-right:10px;" />
							Suchen
						</button>

						<!--
						<a class="btn btn-default btn-lg" href="#">
							<img src="/img/wabe.png" style="height:20px;margin-right:10px;" />
							Suchen
						</a>
						-->
						</div>
					</form>
				</div>

	div.jumbotron(style="display:none")
		div.container
			h1.
				Hello, world!
			p.
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			p.
				<a class="btn btn-primary btn-lg">Learn more &raquo;</a>

block content
	div.container
		div.row
			div.col-lg-12.text-center
				h2 Mit Konsum die Welt verändern 
		div.row
			div.col-lg-4

				p.
					Ziel dieser Internetseite ist es, die Suche nach fair, ökologisch und regional 
					hergestellten Produkten, sowie an Nachhaltigkeit ausgerichteten Marken und 
					Dienstleistungen zu erleichtern. 

				//p.
				//Jede und jeder ist eingeladen mit Einträgen in das Verzeichnis zum Gelingen 
				//dieses Projektes beizutragen.


			div.col-lg-8

				div.row
					div.col-lg-6
						p.
							Wir Menschen
							brauchen Lebensmittel, Kleidung,
							Alltagsgegenstände wie Papier und
							Bleistift. Aber auch auf Dienstleistungen
							wie ein Bankkonto oder Versicherungen sind
							wir angewiesen. 
					div.col-lg-6
						p.
							Wo kommen die Produkte her? Werden die Arbeiter*Innen
							gerecht bezahlt? Wird auf umweltfreundliche
							Standards geachtet? 



		div.row
			div.col-lg-6.col-lg-offset-3.text-center
				p.
					&nbsp;
				blockquote
					p.
						Mit allem, was wir konsumieren, entscheiden wir uns 
						für oder gegen Umweltschutz, für oder gegen soziale
						Gerechtigkeit. Für oder gegen ein
							verantwortungsvolles Miteinander.

		div.row
			p.
				&nbsp;

		div.row
			div.col-lg-12
				h2 Wie kann ich dieses Projekt unterst&uuml;tzen?

		div.row
			div.col-lg-4
				p
					strong F&uuml;ge neue Eintr&auml;ge hinzu!<br/>
					|Jede und jeder ist eingeladen mit Einträgen in das Verzeichnis zum
					|Gelingen dieses Projektes beizutragen.

			div.col-lg-4
				p
					strong Spende etwas.<br />
					|Im Moment haben wir nur einen
					|Flattr-Account. Umso mehr freuen
					|wir uns &uuml;ber entsprechende Flattr-eien.
			div.col-lg-4
				p
					strong Sende uns Anregungen oder Feedback!<br />
					|Wir haben ein offenes Ohr f&uuml;r sinnvolle Vorschl&auml;ge
					|und neue Impulse. Lass' h&ouml;ren!

		div.row
			div.col-lg-4
				p.text-center.
					<a class="btn btn-default" href="/eintraege/neu" role="button">&raquo; Neuer Eintrag</a>
			div.col-lg-4
				p.text-center(style="padding-top:6px")
					|<script id='fbhxun5'>(function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=findsgut&button=compact&url=http%3A%2F%2Ffindsgut.de';f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbhxun5');</script>
					|<noscript> <a href="https://flattr.com/thing/eac6c5bf8cedb795d28aaae860216f27" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a> </noscript>
			div.col-lg-4
				p.text-center.
					<a class="btn btn-default" href="/feedback" role="button">&raquo; Nachricht verfassen</a>
		div.row
			p.
				&nbsp;

		div.row(style="display:none")
			div.col-lg-4
				p
					strong Du bist Entwickler*Inn?<br />
					|Der Code dieser Plattform ist auf <a href="https://github.com/cmichi">GitHub</a> 
					|einsehbar.<br />Gerne kannst du dich dort in den Entwicklungsprozess einbringen.

