extends ./layout

block jumbotron
	div.jumbotron
		div.container
			h1.
				Infos zum Bienenstock

block content
	div.row
		div.col-lg-6
			h3 Besucher 

			table.table.table-striped.table-bordered
				tbody
					tr
						td Zugriffe diese Woche
						td 100
					tr
						td Zugriffe Gesamt
						td 200
				
		div.col-lg-6
			h3 Eintr&auml;ge 

			table.table.table-striped.table-bordered
				tbody
					tr
						td Eintr&auml;ge diese Woche
						td 100
					tr
						td &Auml;nderungen diese Woche
						td 100
					tr
						td Gesamtzahl Eintr&auml;ge 
						td 200
	div.row
		div.col-lg-6
			h3 Top-3 Referrer diese Woche

			table.table.table-striped.table-bordered
				tbody
					tr
						td Zugriffe diese Woche
						td 100
					tr
						td Zugriffe Gesamt
						td 200
					tr
						td Zugriffe Gesamt
						td 200
				
		div.col-lg-6
			h3 Top-3 Referrer All-Time

			table.table.table-striped.table-bordered
				tbody
					tr
						td Zugriffe diese Woche
						td 100
					tr
						td Zugriffe Gesamt
						td 200
					tr
						td Zugriffe Gesamt
						td 200
	div.row
		div.col-lg-12
			h3 Letzte &Auml;nderungen in der Datenbank

			table.table.table-striped.table-bordered
				thead
					tr
						td Eintrags-Typ
						td Datenbank-Id
						td &Auml;nderungen
						td Link zum Eintrag
				tbody
					tr
						td Eintrag
						td 
							a(href="").
								1230asdf
						td
							pre.
								ksjdflkas
								asdflkjasdf
						td 
							a(href="").
								Eintrag auf findsgut
				
