div.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header.
			<a class="navbar-brand" href="/">
				<!--
				findsgut.de
				-->
				<img src="/img/findsgut-white.png" height="30" />
				<span style="font-weight:normal;font-size:13px;color:#444;position: relative; top: -0.8em;">(beta)</span>
			</a>

		div.navbar-collapse.collapse
			ul.nav.navbar-nav(style="margin-top:5px;margin-left:35px;")
				li(class="#{navi.home}").
					<a href="/">Home</a>
				li(class="#{navi.entries}").
					<a href="/entries/all">Alle Eintr&auml;ge</a>
				li(class="#{navi.feedback}").
					<a href="/kontakt">Anregungen</a>

			div.pull-right.
				<a href="#" style="color:#000;">
					<span class="badge" style="background:#777;margin-top:20px"> #{count_entries} </span> Eintr&auml;ge
				</a>

