extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 Alle Eintr&auml;ge 

			div.sub.
				Es sind insgesamt #{entries.length}
				Eintr&auml;ge vorhanden.

block content
	include ../entries/list
