extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 Alle Eintr&auml;ge 

			div.sub.
				Es sind insgesamt #{list.length}
				Eintr&auml;ge vorhanden.

block content

	include ../entries/filter

	div#list
		include ../entries/list

block scripts
		script(src='/js/entries/filter.js') 
