extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1 Alle Eintr&auml;ge

			div.sub.
				Lorem.

block content
	div.row
		div.col-lg-12
			h2 Alle Eintraege

			- if (entries != undefined && entries.length > 0)
				ul
					each entry in entries
						li.
							#{entry.value.name}
			- else
				p Es sind leider noch keine Eintr&auml;ge vorhanden.
			- endif
