extends ../layout

block jumbotron
	div.jumbotron
		div.container
			h1.
				Alle Eintr&auml;ge

block content

	include ../entries/filter

	div#list
		include ../entries/list

block scripts
		//script(src='/js/entries/filter.js') 
		script(src='/js/entries/classifications.js') 
