div.row
	div.col-lg-12

		div.row
			div.col-lg-12
				div.panel.panel-default
					div.panel-heading
						h3.panel-title.
							Filtern
					div.panel-body
							form(role="form",method="GET",action="/suche",id="filter")
								input(type="hidden",name="searching",value="true")
								div.row
										div.col-lg-5
											div.input-group 
												span.input-group-addon
													span.glyphicon.glyphicon-search
												- if (term == undefined || term.length === 0)
													input(type="text",class="form-control",placeholder="Dein Suchbegriff",name="term") 
												- else
													input(type="text",class="form-control",placeholder="",name="term",value="#{term}") 
												- endif
								div.row
										div.col-lg-3
											div.checkbox
												label
													- if (local === true)
														input(type="checkbox",name="local",checked="checked")
													- else
														input(type="checkbox",name="local")
													- endif
													|Lokale Angebote
										div.col-lg-3
											div.checkbox
												label
													- if (online === true)
														input(type="checkbox",name="online",checked="checked")
													- else
														input(type="checkbox",name="online")
													- endif
													|Online-Angebote
								div.row
										div.col-lg-3
											div.checkbox
												label
													- if (fair === true)
														input(type="checkbox",name="fair",checked="checked")
													- else
														input(type="checkbox",name="fair")
													- endif
													|faire Produkte
											//div.alert.alert-info(style="margin-top:10px;margin-bottom:0px;") 
											//include ../classifications/fair
											a(href="#",data-toggle="popover").btn.btn-large.btn-default#popfair.
												Was heisst das?

										div.col-lg-3
											div.checkbox
												label
													- if (bio === true)
														input(type="checkbox",name="bio",checked="checked")
													- else
														input(type="checkbox",name="bio")
													- endif
													|biologische Produkte
											a(href="#",data-toggle="popover").btn.btn-large.btn-default#popbio.
												Was heisst das?
											//div.alert.alert-info(style="margin-top:10px;margin-bottom:0px;") 
											//include ../classifications/bio

										div.col-lg-3
											div.checkbox
												label
													- if (regional === true)
														input(type="checkbox",name="regional",checked="checked")
													- else
														input(type="checkbox",name="regional")
													- endif
													|regionale Produkte

											//div.alert.alert-info(style="margin-top:10px;margin-bottom:0px;") 
											//include ../classifications/regional
											a(href="#",data-toggle="popover").btn.btn-large.btn-default#popregional.
												Was heisst das?

										div.col-lg-3
											div.checkbox
												label
													- if (used === true)
														input(type="checkbox",name="used",checked="checked")
													- else
														input(type="checkbox",name="used")
													- endif
													|gebrauchte Produkte

											//div.alert.alert-info(style="margin-top:10px;margin-bottom:0px;") 
											//include ../classifications/used
											a(href="#",data-toggle="popover").btn.btn-large.btn-default#popused.
												Was heisst das?

									div.row
										div.col-lg-12
											|&nbsp;<br/>
											h4 Umkreissuche

									div.row
										div.col-lg-5
											div.input-group 
												span.input-group-addon
													span Rund um:
												- if (umkreis == undefined || umkreis.length === 0)
													input(type="text",class="form-control",placeholder="Ort",name="umkreis") 
												- else
													input(type="text",class="form-control",placeholder="",name="umkreis",value="#{umkreis}") 
										div.col-lg-3
											div.input-group 
												span.input-group-addon Distanz:
												- if (distance == undefined || distance.length === 0)
													input(type="text",class="form-control",placeholder="Entfernung",name="distance",placeholder="") 
												- else
													input(type="text",class="form-control",placeholder="",name="distance",value="#{distance}") 
												span.input-group-addon km
									div.row
										div.col-lg-12.
													&nbsp;<br/>
													&nbsp;<br/>
													<button style="width:100%" type= "submit" class="btn btn-default">Suche starten!</button> 
				hr
