extends ../layout

block jumbotron
	div.jumbotron
		include ./search-jumbotron


block content
	div.row
		div.col-lg-12
				- if (!category) {
						include ./filter
				- }

				div#list
					- if (searching) {
						include ./list
					- }

block scripts
	script(src='/js/entries/classifications.js') 

	script(src='/js/entries/loadContent.js') 

	- if (!category) {
		script(src='/js/entries/filter.js') 
	- }
	|<link rel="stylesheet" href="/css/leaflet.css" />
	|<script src="/js/leaflet.js"></script>
