extends ../layout

block jumbotron
	div.jumbotron
		include ./search-jumbotron


block content
	div.row
		div.col-lg-12
				- if (!category) {
						include ./filter
				- }

				- if (searching) {
						div#list
								include ./list
				- }

//script(src='/js/entries/filter.js') 
block scripts
	script(src='/js/entries/classifications.js') 
