extends ../layout

block jumbotron
	div.jumbotron
		include ./search-jumbotron


block content
	div.row
		div.col-lg-12
			include ./filter

			div#list
				include ./list

block scripts
		script(src='/js/entries/filter.js') 
