div.container
	- if (!category && (term == undefined || term.length === 0))
		h1 Eintr&auml;ge suchen
	- else if (category)
		h1 
			|Eintr&auml;ge f&uuml;r Kategorie 
			em #{category}
	- else
		h1 Suche nach 
			em #{term}
		div.sub
			- if (list != undefined)
				|Es wurden #{list.length} Eintr&auml;ge gefunden.
			- else
				|Es wurden keine Eintr&auml;ge gefunden.
			- endif
	- endif
