p
	|Die Produkte/Leistungen&hellip;
	ul
		li.
			haben ein Siegel:
			im Nahrungsmittelbereich mindestens das Bio-Siegel
			nach EG-ÖKO-Verordnung oder strenger (z.B. Demeter,
			Bioland, Naturland) im Textilbereich mindestens
			IVN, GOTS oder vergleichbar
		li.
			haben kein Siegel: der Anbieter versichert
			jedoch nachvollziehbar, dass vergleichbare
			Standards wie bei den oben genannten Siegeln
			eingehalten werden
