p
	|Die Produkte/Leistungen&hellip;
	ul
		li.
			haben ein Siegel:
			das Fair-Trade-Siegel nach den Kriterien der FLO oder 
			vergleichbare.
		li.
			haben kein Siegel:
			der Anbieter versichert jedoch nachvollziehbar, dass 
			vergleichbare Standards wie bei den oben genannten 
			Siegeln eingehalten werden.
